* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

dialog::backdrop {
    background-color: #000000;
    opacity: 0.2;
}

.add-book-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}