* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::backdrop {
    background-color: #000000;
    opacity: 0.1;
}

dialog {
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.add-book-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

table, th, td {
    border:1px solid black;
  }

#book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.book-card {
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
}